<IfModule mod_headers.c>
    <FilesMatch "\.(ico|svg|jpg|png|css|js)$">
        Header set Cache-Control "max-age=86400, public"
    </FilesMatch>
</IfModule>

RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} !on
RewriteCond %{HTTP_HOST} ^(?:www\.)?cvmdev\.be(?:.*)$ [nc]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [redirect=301,L]

RewriteCond %{REQUEST_URI} !(\.(png|jpg|svg|ico|css|js|browserconfig.xml|manifest.json))
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]