// Common
.animeWhenVisible-translateFromLeft-init
{
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition: transform 0.4s cubic-bezier(0.33, 0, 1, 1.1), opacity 0.4s cubic-bezier(0.33, 0, 1, 1);
}
.animeWhenVisible-translateFromLeft
{
	opacity: 0;
	transform: translate3d(-100%, 0, 0);
	transition: none;
}
.animeWhenVisible-unhide-init
{
	opacity: 1;
	transition: opacity 1s 0.25s ease-in;
}
.animeWhenVisible-unhide
{
	opacity: 0;
	transition: none;
}

.animeWhenVisible-loadRowTable-init
{
	transform: translate3d(0, 0, 0);
	transition: transform 0.3s cubic-bezier(0.86, 0.6, 0.08, 1.2);

}
.animeWhenVisible-loadRowTable
{
	transform: translate3d(0, 100%, 0);
	transition: none;
}
.animeWhenVisible-translateFromBot-init
{
	transform: translate3d(0, 0, 0);
	transition: transform 2s ease-out, perspective-origin 0.5s ease-out;
}
.animeWhenVisible-translateFromBot
{
	perspective-origin: 50% 200%!important;
	transform: translate3d(0, 100%, 0);
	transition: none;
}
.animeWhenVisible-translateFromRight-init
{
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition: transform 0.4s cubic-bezier(0.33, 0, 1, 1.1), opacity 0.4s cubic-bezier(0.33, 0, 1, 1);
}
.animeWhenVisible-translateFromRight
{
	opacity: 0;
	transform: translate3d(100%, 0, 0);
	transition: none;
}
.animeWhenVisible-rescale-init
{
	transform: scale3d(1, 1, 1);
	transition: transform 1s ease-out;
}
.animeWhenVisible-rescale
{
	transform: scale3d(0, 0, 1);
	transition: none;
}
.animeWhenVisible-backgroundZoom-init
{
	transform: scale3d(1.1, 1.1, 1);
	transition: transform 5s ease-out;
}
.animeWhenVisible-backgroundZoom
{
	transform: scale3d(1, 1, 1);
	transition: none;
}
// contact
.image-chiens.animeWhenVisible-translateFromBot-init
{
	transform: translate3d(-50%, 0, 0)!important;
	transition: transform 0.5s;
}
.image-chiens.animeWhenVisible-translateFromBot
{
	transform: translate3d(-50%, 300%, 0)!important;
}