.main
{
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	a, p, span
	{
		font-size: 18px;
		line-height: 30px;
		color: black;
	}
}
.section
{
	padding: 120px 0;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	&:first-of-type
	{
		padding-top: $header-height;
	}
}

.section-light
{
	background-color: $color-light01;
	.title-big
	{
		color: $color-dark02;
	}
}
.section-dark
{
    background-color: $color-main02;
	.title-big
    {
        color: $color-light02;
    }
}
.container-large
{
	margin: 0 auto;
	padding: 0 64px;
	max-width: $maxWidth-l;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.introduction-container
{
	position: relative;
	min-height: 100vh;
	height: auto;
	.video, .image
	{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		max-height: 100%;
		height: 100%;
	}
	.video
	{
		object-fit: cover;
	}
	.image
	{
		background-size: cover;
		background-position: center;
	}
	.filter
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("../images/li_filtre.png");
		opacity: 0.3;
	}
	.section-transition
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 105vw;
		height: 100%;
		background-image: url("../images/soins_cache.png");
		background-repeat: repeat-x;
		background-position: left bottom;
		background-size: 1920px 240px
	}
	.title-big
	{
		text-align: center;
		color: white;
		text-shadow: 1px 0 0 black, 1px 1px 0 black, 0 1px 0 black, -1px 1px 0 black, -1px 0 0 black, -1px -1px 0 black, 0 -1px 0 black, 1px -1px 0 black;
	}
}
.title-big
{
	margin-bottom: 40px;
	font-weight: 300;
	font-size: 48px;
	width: 100%;
}
.image
{
	display: block;
	width: 350px;
	height: 350px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	pointer-events: none;
}
.circle
{
	border-radius: 50%;
}
.cadre
{
	box-shadow: 0 0 0 13px white, 0 0 0 14px $color-dark02;
	background-color:$color-light01;
}
.text-container
{
	p ~ p
	{
		margin-top: 20px;
	}
}
.table
{
	margin-top: 10px;
	width: 100%;
	.row
	{
		width: 100%;
		.row-content
		{
			padding: 8px 24px;
			position: relative;
			display: inline-block;
			overflow: hidden;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&:nth-child(odd)
		{
			background-image: url(../images/li_filtre.png);
			span
			{
				text-shadow: none;
			}
		}
	}
}
.table-animation
{
	.row
	{
		position: relative;
		overflow: hidden;
		.row-content
		{
			&:first-of-type
			{
				flex: 1;
			}
			span:last-of-type
			{
				white-space: nowrap;
			}
		}
		&:nth-child(1)
		{
			.row-content
			{
				transition-delay: 0.3s;
			}
		}
		&:nth-child(2)
		{
			.row-content
			{
				transition-delay: 0.4s;
			}
		}
		&:nth-child(3)
		{
			.row-content
			{
				transition-delay: 0.5s;
			}
		}
		&:nth-child(4)
		{
			.row-content
			{
				transition-delay: 0.6s;
			}
		}
		&:nth-child(5)
		{
			.row-content
			{
				transition-delay: 0.7s;
			}
		}
		&:nth-child(6)
		{
			.row-content
			{
				transition-delay: 0.8s;
			}
		}
		&:nth-child(7)
		{
			.row-content
			{
				transition-delay: 0.9s;
			}
		}
	}
}
.parallax-container
{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    perspective: 100px;
    overflow: hidden;
    .layer
    {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
    }
}
.parallax-cover
{
    z-index: 2;
    position: relative;
}
@media screen and (max-width: 1140px)
{
	#main
	{
		.container-large
		{
			margin-top: 0;
			padding: 0 16px;
			flex-direction: column;
		}
		.image-container
		{
			position: static;
			margin: 12px auto 40px;
			order: 0;
			transform: none;
		}
		.image.circle
		{
			width: 250px;
			height: 250px;
		}
		.content
		{
			order: 1;
			.title-big
			{
				margin-left: auto;
				margin-right: auto;
				max-width: 600px;
			}
			.title-big, p
			{
				white-space: normal;
				text-align: center;
			}
			.title-big
			{
				font-size: 32px;
			}
		}
		.table
		{
			li
			{
				.row
				{
					max-width: 100%;
				}
			}
		}
	}
}