.main
{
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}
.section
{
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	&:first-of-type
	{
		padding-top: $header-height;
	}
}
.container-large
{
	margin: 0 auto;
	padding: 64px;
	max-width: $maxWidth-l;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.image
{
	width: 350px;
	height: 350px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	pointer-events: none;
}
.content
{
	width: 100%;
	h1, h2
	{
		margin-bottom: 40px;
		font-weight: normal;
		font-size: 48px;
	}
	h1, h2, p, span
	{
		font-weight: 300;
	}
	a, p, span
	{
		font-size: 16px;
		line-height: 30px;
		color: black;
	}
}
.section-light
{
	background-color: $color-light01;
	h1,h2
	{
		color: $color-dark02;
	}
	h1,h2, p
	{
		text-shadow: 2px 0 0 $color-light01, 2px 2px 0 $color-light01, 0 2px 0 $color-light01, -2px 2px 0 $color-light01, -2px 0 0 $color-light01, -2px -2px 0 $color-light01, 0 -2px 0 $color-light01, 2px -2px 0 $color-light01;
	}
}
.section-dark
{
    background-color: $color-main02;
	h2
    {
        color: $color-light02;
    }
	h2, p
	{
		text-shadow: 2px 0 0 $color-main02, 2px 2px 0 $color-main02, 0 2px 0 $color-main02, -2px 2px 0 $color-main02, -2px 0 0 $color-main02, -2px -2px 0 $color-main02, 0 -2px 0 $color-main02, 2px -2px 0 $color-main02;
	}
}
.circle
{
	border-radius: 50%;
}
.cadre
{
	box-shadow: 0 0 0 13px white, 0 0 0 14px $color-dark02;
	background-color:$color-light01;
}
.border-cut
{
	z-index: 1;
	overflow: hidden;
	position: absolute;
	border-radius: 50%;
	right: 0;
	.cadre
	{
		margin: 78px;
		width: 400px;
        height: 400px;
		box-shadow: 0 0 0 13px white, 0 0 0 14px $color-dark02, 0 0 0 78px $color-light01;
	}
}
.table
{
	margin-top: 10px;
	width: 75%;
	li
	{
		padding: 0 24px;
		position: relative;
		overflow: hidden;
		span
		{
			text-align: left;
			line-height: 22px;
			&:last-of-type
			{
				margin-left: 10px;
			}
		}
		&:nth-child(odd)
		{
			background-color: $color-dark02;
			span
			{
				text-shadow: none;
				color: white;
			}
		}
		&:nth-child(even)
		{
			&.active
			{
				&:after
				{
					border-color: transparent transparent transparent $color-dark02;
				}
			}
		}
		&.active
		{
			&:after
			{
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 10px 0 10px 17.3px;
				border-color: transparent transparent transparent $color-light01;
				transform: translate3d(0, -50%, 0);
			}
		}
		span
		{
			text-transform: uppercase;
			font-weight: 500;
		}
		.row
		{
			width: 100%;
			height: 50px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.row1
		{
			transition-delay: 0.3s;
		}
		.row2
		{
			transition-delay: 0.4s;
		}
		.row3
		{
			transition-delay: 0.5s;
		}
		.row4
		{
			transition-delay: 0.6s;
		}
		.row5
		{
			transition-delay: 0.7s;
		}
		.row6
		{
			transition-delay: 0.8s;
		}
		.row7
		{
			transition-delay: 0.9s;
		}
	}
}
.table ~ p
{
	margin-top: 20px;
}
.parallax-container
{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    perspective: 100px;
    overflow: hidden;
    .layer
    {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
    }
}
.parallax-cover
{
    z-index: 2;
    position: relative;
}
@media screen and (max-width: 1140px)
{
	#main
	{
		.container-large
		{
			margin-top: 0;
			padding: 32px 16px;
			flex-direction: column;
		}
		.image-container
		{
			position: static;
			margin: 12px auto 40px;
			order: 0;
			transform: none;
		}
		.image
		{
			width: 250px;
			height: 250px;
		}
		.cadre
		{
			margin: 14px;
		}
		.border-cut
		{
			.cadre
			{
				margin: 14px;
				box-shadow: 0 0 0 13px white, 0 0 0 14px $color-dark02;
			}
		}
		.content
		{
			order: 1;
			h1
			{
				margin-left: auto;
				margin-right: auto;
				max-width: 600px;
			}
			h1, h2, p
			{
				white-space: normal;
				text-align: center;
			}
			h1, h2
			{
				font-size: 32px;
			}
		}
		.table
		{
			margin-left: auto;
			margin-right: auto;
			max-width: 520px;
			width: 100%;
			li
			{
				.row
				{
					max-width: 100%;
				}
			}
		}
	}
}