.page-contact
{
    .container-large
    {
        position: relative;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    ul
    {
        li
        {
            margin-bottom: 20px;
            &:last-of-type
            {
                margin-bottom: 0;
            }
        }
        .icon-container
        {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            .image
            {
                width: 38px!important;
                height: 38px!important;
            }
            .image-adresse
            {
                background-image: url("../images/icone_adresse.svg");

            }
            .image-phone
            {
                background-image: url("../images/icone_phone.svg");
            }
            .image-mail
            {
                background-image: url("../images/icone_mail.svg");
            }
        }
        .text
        {
            margin: 6px 0 0 18px;
        }
    }
    .image-container
    {
        margin-top: -150px;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        width: 100%;
        .image-facade
        {
            margin-right: 300px;
            z-index: 1;
            position: relative;
            width: 275px;
            background-image: url("../images/photo_facade.jpg");
            transform: translate3d(-87px, 0, 0);
        }
        .image-chiens
        {
            z-index: 2;
            position: relative;
            max-width: 600px;
            max-height: 190px;
            flex: 1;
            transform: translate3d(0, 50px, 0);
            background-image: url("../images/silhouette-chiens.svg");
            background-size: 100% auto;
            background-position-y: center;
        }
        .image-chat
        {
            z-index: 1;
            position: absolute;
            top: 85px;
            right: 565px;
            width: 51px;
            height: 80px;
            background-image: url("../images/silhouette_chat.svg");
        }
    }
    .map-container
    {
        z-index: 0;
        position: absolute;
        bottom: 82px;
        right: 82px;
        transform: rotate3d(0, 0, 1, 5deg);
        & > iframe
        {
            vertical-align: middle;
        }
    }
}

@media screen and (max-width: 1140px)
{
    #main.page-contact
    {
        .container-large
        {
            flex-wrap: nowrap;
        }
        .content
        {
            order: 1;
        }
        ul
        {
            margin-bottom: 40px;
            text-align: center;
            .icon-container
            {
                flex-direction: column;
            }
            .text
            {
                margin-left: 0;
            }
            li
            {
                line-height: 0;
            }
        }
        .image-container
        {
            max-width: 530px;
            width: 100%;
            flex-direction: column;
            align-items: center;
            .image-facade
            {
                transform: none;
            }
            .image-chiens
            {
                position: absolute;
                bottom: 0;
                left: 50%;
                flex: none;
                width: 420px;
                max-width: 98vw;
                height: 130px;
                transform: translate3d(-50%, 0, 0);
            }
            .image-chat
            {
                top: 650px;
                right: 50%;
                width: 64px;
                height: 100px;
                transform: translate3d(170px, 0, 0);
            }
        }
        .map-container
        {
            margin: 0 auto 20px;
            order: 2;
            width: 100%;
            position: static;
            border: 1px solid $color-dark02;
            box-shadow: none;
            transform: none;
            iframe
            {
                width: 100%;
                height: 500px;
                border: none;
                border-radius: 0;
            }
        }
    }
}