.page-contact
{
    .container-large
    {

        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        & > p:last-of-type
        {
            margin-bottom: 80px;
        }
    }
    .image-facade
    {
        background-image: url("../images/photo_facade.jpg");
    }
    .introduction-container
    {
        .container-large
        {
            max-width: 920px;
        }
    }
    .presentation-container
    {
        .container-large:first-of-type
        {
            margin-bottom: 180px;
        }
        .presentation-content
        {
            margin-right: 40px;
            flex: 1;      
            .text-container.animeWhenVisible-translateFromLeft-init
            {
                transition-delay: 0.7s;
            }
        }
    }
    ul
    {
        margin-top: 40px;
        li
        {
            margin-bottom: 20px;
            &:last-of-type
            {
                margin-bottom: 0;
            }
        }
        .row-content
        {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            .image
            {
                margin-right: 12px;
                width: 38px!important;
                height: 38px!important;
            }
            .image-adresse
            {
                background-image: url("../images/icone_adresse.svg");

            }
            .image-phone
            {
                background-image: url("../images/icone_phone.svg");
            }
            .image-mail
            {
                background-image: url("../images/icone_mail.svg");
            }
        }
        .row-content.animeWhenVisible-loadRowTable
        {
            transform: translate3d(0, 120%, 0);
        }
        .row
        {
            &:nth-child(1)
            {
                .row-content
                {
                    transition-delay: 1s;
                }
            }
            &:nth-child(2)
            {
                .row-content
                {
                    transition-delay: 1.1s;
                }
            }
            &:nth-child(3)
            {
                .row-content
                {
                    transition-delay: 1.2s;
                }
            }
        }
    }
    .video
    {
        border-radius: 50%;
        display: block;
        width: 400px;
        height: 400px;
        object-fit: cover;
    }
    .map-container
    {
        margin: 0 auto;
        position: relative;
        width: 100%;
        height: 500px;
        .cadre
        {
            border: 1px solid black;
            height: 100%;
        }
        & > iframe
        {
            vertical-align: middle;
        }
        .image
        {
            position: absolute;
            left: 50%;
            width: 100%;
        }
        .image-chat
        {
            top: -87px;
            max-width: 51px;
            height: 80px;
            background-image: url("../images/silhouette_chat.svg");
            transform: translate3d(-50%, 0, 0);
        }
        .image-chiens
        {
            bottom: -80px;
            max-width: 600px;
            height: 180px;
            background-image: url("../images/silhouette-chiens.svg");
            transform: translate3d(-50%, 0, 0);
        }
    }
}
@media screen and (max-width: 1140px)
{
    #main.page-contact
    {
        .container-large
        {
            flex-direction: column;
        }
        .presentation-content
        {
            flex: none;
            order: 2;
            text-align: center;
        }
        ul
        {
            .row-content
            {
                flex-direction: column;
                .image
                {
                    margin-right: 0;
                }
            }
        }
        .video
        {
            margin-bottom: 60px;
            order: 1;
        }
    }
}
@media screen and (max-width: 750px)
{
    #main.page-contact
    {
        ul
        {
            .row-content
            {
                display: block;
                text-align: center;
                .image
                {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 550px)
{
    #main.page-contact
    {
        .video
        {
            width: 300px;
            height: 300px;
        }
        .container-large
        {
            &:last-of-type
            {
                padding-left: 0;
                padding-right: 0;
                max-width: 100vw;
            }
        }
        .image-facade
        {
            background-position: right 40% center;
        }
        .map-container
        {
            .cadre
            {
                border: none;
                border-top: 1px solid $color-dark02;
                border-bottom: 1px solid $color-dark02;
                box-shadow: none;
            }
        }
        .image-chat
        {
            top: -73px;
        }
        .image-chiens
        {
            height: 175px;
        }
    }
}

@media screen and (max-width: 400px)
{
    #main.page-contact
    {
        .video
        {
            width: 250px;
            height: 250px;
        }
        .image-chiens
        {
            bottom: -50px;
            height: 127px;
        }
    }
}