.page-contact
{
    .container-large
    {
        position: relative;
        flex-direction: row!important;
        max-width: 1028px;
        &:last-of-type
        {
            padding-bottom: 128px!important;
        }
    }
    .image-facade
    {
        background-image: url("../images/photo_facade.jpg");
    }
    ul
    {
        li
        {
            margin-bottom: 60px;
            &:last-of-type
            {
                margin-bottom: 0;
            }
        }
        .icon-container
        {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            .image
            {
                margin-right: 12px;
                width: 38px!important;
                height: 38px!important;
            }
            .image-adresse
            {
                background-image: url("../images/icone_adresse.svg");

            }
            .image-phone
            {
                background-image: url("../images/icone_phone.svg");
            }
            .image-mail
            {
                background-image: url("../images/icone_mail.svg");
            }
        }
    }
    .video
    {
        margin-right: 14px;
        border-radius: 50%;
        display: block;
        width: 400px;
        height: 400px;
        object-fit: cover;
    }
    .map-container
    {
        margin: 0 auto;
        width: 100%;
        height: 500px;
        .cadre
        {
            border: 1px solid black;
            height: 100%;
        }
        & > iframe
        {
            vertical-align: middle;
        }
        .image
        {
            position: absolute;
            left: 50%;
            width: 100%;
        }
        .image-chat
        {
            top: -23px;
            max-width: 51px;
            height: 80px;
            background-image: url("../images/silhouette_chat.svg");
            transform: translate3d(-50%, 0, 0);
        }
        .image-chiens
        {
            bottom: 20px;
            max-width: 600px;
            height: 180px;
            background-image: url("../images/silhouette-chiens.svg");
            transform: translate3d(-50%, 0, 0);
        }
    }
}
@media screen and (max-width: 750px)
{
    #main.page-contact
    {
        .container-large
        {
            flex-direction: column!important;
        }
        ul
        {
            li
            {
                margin-bottom: 40px;
                &:last-of-type
                {
                    margin-bottom: 80px;
                }
            }
            .icon-container
            {
                display: block;
                text-align: center;
                .image
                {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 550px)
{
    #main.page-contact
    {
        .video
        {
            width: 300px;
            height: 300px;
        }
        .container-large
        {
            &:last-of-type
            {
                padding-left: 0;
                padding-right: 0;
                max-width: 100vw;
            }
        }
        .map-container
        {
            .cadre
            {
                border: none;
                border-top: 1px solid $color-dark02;
                border-bottom: 1px solid $color-dark02;
                box-shadow: none;
            }
        }
        .image-chat
        {
            top: -9px;
        }
        .image-chiens
        {
            height: 175px;
        }
    }
}

@media screen and (max-width: 400px)
{
    #main.page-contact
    {
        .video
        {
            width: 250px;
            height: 250px;
        }
        .image-chiens
        {
            bottom: 40px;
            height: 127px;
        }
    }
}