footer
{
    padding-top: 32px;
    padding-bottom: 16px;
    position: relative;
    flex: 1 0 auto;
    background-color: $color-dark01;
    .container-large
    {
        max-width: 1030px;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .title
    {
        margin-bottom: 32px;
        width: 100%;
        font-family: $fontFamily-title;
        font-size: 36px;
    }
    .col-left
    {
        margin-top: 18px;
        p
        {
            max-width: 380px;
        }
    }
    .col-right
    {
        list-style: circle;
        color: #b0b5bf;
        span
        {
            display: block;
        }
        a
        {
            display: inline-block;
            line-height: 48px;
        }
    }
    .subCol
    {
        margin-top: 32px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        p, a
        {
            color: #b0b5bf;
        }
    }
    p, a
    {
        color: $color-light02;
        font-size: 14px;
        line-height: 28px;
        font-weight: normal;
    }
    .icone
    {
        margin-bottom: 4px;
        display: block;
        width: 48px;
        height: 48px;
        pointer-events: auto;
        &:nth-child(1)
        {
            margin-right: 5px;
        }
        &:nth-child(2)
        {
            margin-left: 5px;
        }
    }
}
@media screen and (max-width: 1140px)
{
	footer
	{
        .container-large
        {
            padding: 0 16px;
        }
    }
}
@media screen and (max-width: 888px)
{
    footer
    {
        .container-large
        {
            flex-direction: column;
            align-items: center;
        }
        .title
        {
            text-align: center;
        }
        .col-left
        {
            text-align: center;
        }
        .col-right
        {
            margin-top: 16px;
            text-align: center;
        }
    }
}