header
{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 2px 1px #6d809b3d;
    background-color: $color-light02;
    .container
    {
        padding: 0 64px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo-container
    {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .logo-text
        {
            margin-left: 16px;
            font-size: 16px;
            font-weight: 300;;
        }
    }
}
nav
{
    ul
    {
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }
    li
    {        
        margin-left: 60px;
        a
        {
            display: block;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            color: $color-main01;
            font-size: 16px;
            font-weight: 300;
        }
        .btn-text
        {
            margin-top: 2px;
        }
    }
}

@media screen and (max-width: 905px)
{
    header
    {
        .container
        {
            padding: 0 16px;
        }
    }
}