.page-horaires
{
    .image-salon
    {
        background-image: url("../images/salon.jpg");
    }
    .container-large
    {
        display: block;
    }
    .presentation
    {
        z-index: 2;
        margin-bottom: 18px;
        padding-left: 24px;
        padding-right: 24px;
        position: relative;
    }
    .horaires-content
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }
    .table
    {
        .row
        {
            position: relative;
            overflow: visible;
            overflow-y: clip;
            &:nth-child(odd)
            {
                &::after
                {
                    padding-right: 24px;
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    display: block;
                    width: 100vw;
                    height: 100%;
                    background-image: url("../images/li_filtre.png");
                    transform: translate3d(0, -50%, 0);
                }
            }
            &.active
            {
                &:before
                {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 0 10px 17.3px;
                    border-color: transparent transparent transparent $color-light01;
                    transform: translate3d(0, -50%, 0);
                }
            }
            &:nth-child(even)
            {
                &.active
                {
                    &:after
                    {
                        border-color: transparent transparent transparent $color-dark02;
                    }
                }
            }
        }
        .row-content
        {
            max-width: 560px;
        }
    }
    .niche-container
    {
        margin-right: 14px;
        margin-left: 75px;
        position: relative;
        &::before
        {
            border-radius: 50%;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            width: 450px;
            height: 450px;
            transform: translate3d(-50%, -50%, 0);
            background-color: $color-light01;
        }
    }
    .parallax-container
    {
        border-radius: 50%;
        position: relative;
        min-width: 300px!important;
        max-width: 300px!important;
        height: 300px!important;
        perspective: 200px;
        perspective-origin: 50% 50%;
        transition: perspective-origin 0.5s ease-out;
        min-height: auto;
        .layer
        {
            width: 450px;
            height: 450px;
            bottom: unset;
            top: 50%;
            left: 50%;
            pointer-events: none;
            background-size: 100% 100%;
        }
        .layer1
        {
            background-image: url("../images/niche01.svg");
            background-position: center center;
            transform: translate3d(-50%, -50%, -30px) scale3d(1.3, 1.3, 1);
            .aiguille
            {
                position: absolute;
                left: 201px;
                top: 183.5px;
                width: 4px;
                height: 35px;
                transform-origin: 2px 26px;
                display: block;
            }
        }
        .layer2
        {
            background-image: url("../images/niche02.svg");
            transform: translate3d(-50%, -50%, -60px) scale3d(1.6, 1.6, 1);
        }
        .layer3
        {
            background-image: url("../images/niche03.svg");
            transform: translate3d(-50%, -50%, -75px) scale3d(1.75, 1.75, 1);
        }
        .layer4
        {
            background-image: url("../images/niche04.svg");
            transform: translate3d(-50%, -50%, -100px) scale3d(2, 2, 1);
        }
    }
}

@media screen and (max-width: 900px)
{
    #main.page-horaires
	{
        .presentation
        {
            text-align: center;
        }
    }
}

@media screen and (max-width: 750px)
{
    #main.page-horaires
	{
        .horaires-content
        {
            flex-direction: column;
        }
        .table
        {
            .row:nth-child(odd)
            {
                &::after
                {
                    display: none;
                }
            }
            .row-content
            {
                margin: 0 auto;
            }
        }
        .niche-container
        {
            margin: 60px auto 14px;
            &::before
            {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 390px)
{
    #main.page-horaires
	{
        .parallax-container
        {
            min-width: 250px!important;
            max-width: 250px!important;
            height: 250px!important;
        }
    }
}