html, body, header, nav, footer, section, div, span, h1, h2, p, a, img, ul, li, iframe
{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
html
{
	height: 100%;
	font-size: 100%;
	font-family: $fontFamily-main;
}
body
{
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: $color-light01;
	overflow-x: hidden;
}
img
{
	vertical-align: middle;
}
ul
{
	list-style: none;
}
h1, h2, h3
{
	font-family: $fontFamily-title;
}