.page-soins
{
    .video-container
    {
        position: relative;
        min-height: 100vh;
        height: auto;
        video
        {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
            max-height: 100%;
            height: 100%;
        }
        .filter
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("../images/li_filtre.png");
            opacity: 0.3;
        }
        .section-transition
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 105vw;
            height: 100%;
            background-image: url("../images/soins_cache.png");
            background-repeat: repeat-x;
            background-position: left bottom;
            background-size: 1920px 240px
        }
        .title-big
        {
            text-align: center;
            color: white;
            text-shadow: 1px 0 0 $color-dark02, 1px 1px 0 $color-dark02, 0 1px 0 $color-dark02, -1px 1px 0 $color-dark02, -1px 0 0 $color-dark02, -1px -1px 0 $color-dark02, 0 -1px 0 $color-dark02, 1px -1px 0 $color-dark02;
        }
    }
    .container-large
    {
        position: relative;
        display: block;
        & > div
        {
            margin-bottom: 64px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .details
            {
                font-size: 16px;
                white-space: nowrap;
                display: inline-block;
            }
            h2
            {
                margin-bottom: 24px;
                padding-left: 24px;
                padding-right: 24px;
                text-align: center;
                font-size: 21px;
                color: $color-dark02;
                .details
                {
                    font-size: 18px;
                    color: $color-dark02;
                }
            }
        }
    }
    p
    {
        margin-bottom: 60px;
        text-align: center;
        font-style: italic;
    }
    .table
    {
        max-width: 662px;
        width: 100%;
    }
}

@media screen and (max-width: 1140px)
{
    #main.page-soins
    {
        p
        {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (max-width: 700px)
{
    #main.page-soins
    {
        .video-container
        {
            video
            {
                width: 1280px;
                left: 50%;
                transform: translate3d(-40%, 0, 0);
            }
        }
    }
}