.page-soins
{
    .container-large
    {
        position: relative;
        display: block;
        & > div
        {
            margin-bottom: 64px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .details
            {
                font-size: 16px;
                white-space: nowrap;
                display: inline-block;
            }
            h2
            {
                margin-bottom: 24px;
                padding-left: 24px;
                padding-right: 24px;
                text-align: center;
                font-size: 21px;
                color: $color-dark02;
                .details
                {
                    font-size: 18px;
                    color: $color-dark02;
                }
            }
        }
    }
    p
    {
        margin-bottom: 60px;
        text-align: center;
        font-style: italic;
    }
    .table
    {
        max-width: 662px;
        width: 100%;
    }
}

@media screen and (max-width: 1140px)
{
    #main.page-soins
    {
        p
        {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (max-width: 700px)
{
    #main.page-soins
    {
        .video-container
        {
            video
            {
                width: 1280px;
                left: 50%;
                transform: translate3d(-40%, 0, 0);
            }
        }
    }
}