html, body, header, nav, footer, section, div, span, h1, h2, p, a, img, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

html {
  font-size: 100%;
  font-family: "Ubuntu", sans-serif; }

body {
  display: flex;
  flex-direction: column;
  background-color: #eff2f7;
  overflow-x: hidden; }

img {
  vertical-align: middle; }

.section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .section:first-of-type {
    padding-top: 64px; }

.container-large {
  margin: 0 auto;
  padding: 64px;
  max-width: calc(1180px + 128px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  width: 100%; }
  .content h2 {
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 48px; }
  .content h2, .content p {
    font-weight: 300;
    white-space: nowrap; }
  .content a, .content p, .content span {
    color: black;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300; }

.section-light {
  background-color: #eff2f7; }
  .section-light h2 {
    color: #6d809b; }
  .section-light h2, .section-light p {
    text-shadow: 2px 0 0 #eff2f7, 2px 2px 0 #eff2f7, 0 2px 0 #eff2f7, -2px 2px 0 #eff2f7, -2px 0 0 #eff2f7, -2px -2px 0 #eff2f7, 0 -2px 0 #eff2f7, 2px -2px 0 #eff2f7; }

.section-dark {
  background-color: #e3a4c1; }
  .section-dark h2 {
    color: white; }
  .section-dark h2, .section-dark p {
    text-shadow: 2px 0 0 #e3a4c1, 2px 2px 0 #e3a4c1, 0 2px 0 #e3a4c1, -2px 2px 0 #e3a4c1, -2px 0 0 #e3a4c1, -2px -2px 0 #e3a4c1, 0 -2px 0 #e3a4c1, 2px -2px 0 #e3a4c1; }

@media screen and (max-width: 1075px) {
  .container-large {
    margin-top: 0;
    padding: 16px 32px;
    flex-direction: column; }
    .container-large .image-container {
      margin: 0 auto 20px;
      order: 0; }
    .container-large .content {
      order: 1; }
      .container-large .content h2, .container-large .content p {
        white-space: normal;
        text-align: center; }
      .container-large .content h2 {
        font-size: 32px; } }
header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 2px 1px #6d809b;
  background-color: white; }
  header .container-large {
    padding: 0 12px;
    max-width: 1720px; }
  header .logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    header .logo-container .logo-text {
      margin-left: 16px;
      font-size: 16px;
      font-weight: 300; }

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none; }
nav li {
  margin-left: 60px; }
  nav li a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ed417e;
    font-size: 16px;
    font-weight: 300; }
  nav li .btn-text {
    margin-top: 2px; }

.parallax-container {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  perspective: 100px;
  overflow: hidden; }
  .parallax-container .layer {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%; }
    .parallax-container .layer img {
      width: 100%; }

.parallax-cover {
  z-index: 2;
  position: relative; }

.salon-container .parallax-container {
  perspective-origin: 50% 100%;
  transition: perspective-origin 0.2s ease-out; }
  .salon-container .parallax-container .layer {
    min-width: 1280px; }
  .salon-container .parallax-container .layer-mousse2 {
    transform: translate3d(0px, 0px, -50px) scale3d(1.5, 1.5, 1); }
  .salon-container .parallax-container .layer-mousse3 {
    transform: translate3d(0px, 0px, -100px) scale3d(2, 2, 1); }
.salon-container .parallax-cover {
  margin-top: -20vh; }

.toiletteuse-container {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
  .toiletteuse-container .bulles-masque {
    position: absolute;
    z-index: 2;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../images/bulles_masque.png") repeat-x 100px; }
  .toiletteuse-container .image-container {
    flex: 1; }
  .toiletteuse-container .img-chienaureole {
    transform: translate3d(140px, 0px, 0px); }
  .toiletteuse-container h2, .toiletteuse-container p {
    text-align: right; }

.soins-container .parallax-container {
  transition: perspective-origin 1s ease-out; }
.soins-container .parallax-cover img {
  border-radius: 50%;
  border: 2px solid black; }

.parallax-bulles {
  perspective-origin: 50% 50%; }
  .parallax-bulles .layer {
    bottom: unset;
    top: 50%;
    left: 50%;
    min-width: 1908px;
    max-width: 1908px; }
  .parallax-bulles .layer-bulles1 {
    transform: translate3d(-50%, -50%, -30px) scale3d(1.3, 1.3, 1); }
  .parallax-bulles .layer-bulles2 {
    transform: translate3d(-50%, -50%, -65px) scale3d(1.65, 1.65, 1); }
  .parallax-bulles .layer-bulles3 {
    transform: translate3d(-50%, -50%, -100px) scale3d(2, 2, 1); }

@media screen and (max-width: 1075px) {
  .parallax-cover img {
    max-width: 250px;
    width: 100%;
    height: auto; }

  .salon-container .parallax-cover {
    margin-top: 0; }

  .toiletteuse-container .img-chienaureole {
    display: none; }
  .toiletteuse-container .image-container {
    flex: none; } }
.coordonnees-container .container-large {
  position: relative;
  align-items: flex-start; }
.coordonnees-container ul {
  list-style: none; }
  .coordonnees-container ul li {
    margin-bottom: 20px; }
  .coordonnees-container ul .icon-container {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center; }
  .coordonnees-container ul .text {
    margin: 6px 0 0 18px; }
.coordonnees-container .image-container {
  position: absolute;
  right: 440px;
  bottom: 0; }
  .coordonnees-container .image-container .silhouette {
    position: absolute;
    left: 50%;
    opacity: 1;
    transition: opacity 0.5s; }
  .coordonnees-container .image-container .silhouette_chat {
    top: 0;
    transform: translate3d(-50%, -82%, 0); }
  .coordonnees-container .image-container .silhouette_chien01 {
    bottom: 0;
    transform: translate3d(-392%, -71%, 0); }
  .coordonnees-container .image-container .silhouette_chien02 {
    bottom: 0;
    transform: translate3d(-380%, -63%, 0); }
  .coordonnees-container .image-container .silhouette_chien03 {
    bottom: 0;
    transform: translate3d(-166%, -92%, 0); }
.coordonnees-container .cadre {
  margin-bottom: 64px;
  border: 1px solid black;
  padding: 12px;
  background-color: white; }
  .coordonnees-container .cadre img, .coordonnees-container .cadre iframe {
    border: 1px solid black; }
.coordonnees-container .facade-container {
  border-radius: 50%; }
  .coordonnees-container .facade-container img {
    border-radius: 50%; }

@media screen and (max-width: 1075px) {
  .coordonnees-container .content {
    order: 1; }
  .coordonnees-container ul {
    text-align: center; }
    .coordonnees-container ul .icon-container {
      flex-direction: column; }
    .coordonnees-container ul .text {
      margin-left: 0; }
  .coordonnees-container .image-container {
    order: 0;
    margin-bottom: 20px;
    position: static; }
    .coordonnees-container .image-container .silhouette {
      bottom: unset;
      top: 50%; }
    .coordonnees-container .image-container .silhouette_chien01 {
      transform: translate3d(-163%, 18%, 0); }
    .coordonnees-container .image-container .silhouette_chien02 {
      transform: translate3d(121%, -4%, 0); }
    .coordonnees-container .image-container .silhouette_chien03 {
      transform: translate3d(-260%, 42px, 0); }
    .coordonnees-container .image-container .silhouette_chat {
      transform: translate3d(120%, 28%, 0); }
    .coordonnees-container .image-container img {
      max-width: 250px;
      height: auto; }
  .coordonnees-container .cadre {
    order: 2;
    margin: 20px auto 0;
    padding: 0;
    width: 100%;
    background-color: unset; }
    .coordonnees-container .cadre img {
      border: 2px solid #6d809b; }
  .coordonnees-container .gm-container {
    border-radius: 0; }
    .coordonnees-container .gm-container iframe {
      width: 100%;
      border: none;
      border-radius: 0; } }
@media screen and (max-width: 900px) {
  .coordonnees-container .image-container .silhouette_chien03 {
    opacity: 0; } }
@media screen and (max-width: 580px) {
  .coordonnees-container .image-container .silhouette_chien02 {
    opacity: 0; } }
@media screen and (max-width: 500px) {
  .coordonnees-container .image-container .silhouette_chien01 {
    opacity: 0; } }
@media screen and (max-width: 305px) {
  .coordonnees-container .image-container .silhouette_chat {
    opacity: 0; } }
.animeWhenVisible-translateFromBot-init {
  transform: translate3d(0, 0, 0);
  transition: transform 2s ease-out, perspective-origin 2s ease-out; }

.animeWhenVisible-translateFromBot {
  perspective-origin: 50% 200% !important;
  transform: translate3d(0, 100%, 0); }

.animeWhenVisible-unhide-init {
  opacity: 1;
  transition: opacity 1s ease-in; }

.animeWhenVisible-unhide {
  opacity: 0;
  transition: opacity 0.5s linear; }

.animeWhenVisible-rescale-init {
  transform: scale3d(1, 1, 1);
  transition: transform 1s ease-out; }

.animeWhenVisible-rescale {
  transform: scale3d(0, 0, 1); }

/*# sourceMappingURL=style.css.map */
